.DS_Store
**/.idea/
.vscode/
dist/

tool/build/out/
sync/
*.userdb/
installation.yaml
user.yaml
*.custom.yaml
!docs/**/*.custom.yaml

custom_phrase_double.txt
tool/sogou-med-dict/scel2txt/scel/*.txt
tool/sogou-med-dict/scel2txt/done/
src/dict/cn/temp.txt

*private*

rime_console
rime_deployer
rime_patch

__pycache__/
*.pyc

tool/pdf-to-dict/operate/out/
tool/pdf-to-dict/operate/in/
tool/pdf-to-dict/config/user/
tool/dict-merge/in/*
!tool/dict-merge/in/.gitkeep
tool/dict-merge/out/*
!tool/dict-merge/out/.gitkeep
