.DS_Store
**/.idea/
.vscode/
dist/

build/out/
sync/
*.userdb/
installation.yaml
user.yaml
*.custom.yaml
!docs/**/*.custom.yaml

custom_phrase_double.txt
build/scel2txt/out/*
build/scel2txt/scel/*
src/dict/cn/temp.txt

*private*

rime_console
rime_deployer
rime_patch